@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Almarai:wght@300;400;700;800&family=Lemonada:wght@300..700&display=swap');
:root {
    --primary: #FE5D37;
    --light: #FFF5F3;
    --dark: #103741;
}
body{
direction: rtl;
font-family: "Almarai", sans-serif;
font-weight: 300;
font-style: normal;
}
.time-sesson{
    background-color: #fce237;
    height: 100%;
    color: #000000;
    text-align: center;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Heading ***/
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
}

h5,
h6,
.h5,
.h6 {
    font-weight: 600;
}

.font-secondary {
    font-family: 'Lobster Two', cursive;
}


/*** Navbar ***/

/*** Header ***/
.header-carousel::before,
.header-carousel::after,
.page-header::before,
.page-header::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    background: url(../img/bg-header-top.png) center center repeat-x;
    z-index: 1;
}

.header-carousel::after,
.page-header::after {
    height: 19px;
    top: auto;
    bottom: 0;
    background: url(../img/bg-header-bottom.png) center center repeat-x;
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 16px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}
/**************************************/
.header {
    position: relative;
    padding: 180px 0 100px 0;
    text-align: center;
    background: linear-gradient( rgba(59, 57, 56, 0.55), rgba(24, 23, 23, 0.98) ), url(../img/DSC09556.jpg) no-repeat top center;
    background-size: cover;
}

.header h1 {
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-bottom: 45px;
}

.header h1 span {
    color: #FF6F61;
}

.header h1::after {
    position: absolute;
    content: "";
    width: 90%;
    height: 1px;
    left: 5%;
    bottom: 0;
    background: #ff9085;
}

.header p {
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}

.header  .btn {
    padding: 15px 35px;
    color: #FF6F61;
    font-size: 22px;
    font-weight: 500;
    background: #ffffff;
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Facility ***/
.facility-item .facility-icon {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facility-item .facility-icon::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .9);
    transition: .5s;
    z-index: 1;
}

.facility-item .facility-icon span {
    position: absolute;
    content: "";
    width: 15px;
    height: 30px;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.facility-item .facility-icon span:last-child {
    left: auto;
    right: 0;
}

.facility-item .facility-icon i {
    position: relative;
    z-index: 2;
}

.facility-item .facility-text {
    position: relative;
    min-height: 250px;
    padding: 30px;
    border-radius: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.facility-item .facility-text::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .9);
    transition: .5s;
    z-index: 1;
}

.facility-item .facility-text * {
    position: relative;
    z-index: 2;
}

.facility-item:hover .facility-icon::before,
.facility-item:hover .facility-text::before {
    background: transparent;
}

.facility-item * {
    transition: .5s;
}

.facility-item:hover * {
    color: #FFFFFF !important;
}


/*** About ***/
.about-img img {
    transition: .5s;
}

.about-img img:hover {
    background: var(--primary) !important;
}


/*** Classes ***/
.classes-item {
    transition: .5s;
}

.classes-item:hover {
    margin-top: -10px;
}


/*** Team ***/
.team-item .team-text {
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    border: 17px solid var(--light);
    border-radius: 250px;
    transition: .5s;
}

.team-item:hover .team-text {
    border-color: var(--primary);
}


/*** Testimonial ***/
.testimonial-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 576px) {
    .testimonial-carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.testimonial-carousel .testimonial-item .border {
    border: 1px dashed rgba(0, 185, 142, .3) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 45px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 45px;
    font-size: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}
.review-client{
    margin-top: 40px;
    padding: 10px;
    text-align: center;
   
    
}
.review-client h2{
    color: #FF6F61;
    margin: auto;
    margin-bottom: 20px;
}
.review-client p{
    text-align: center;
    font-weight: 400;
}
.review-client .content{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
    overflow: auto;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, 
    rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.call-to-action {
    background-size: cover;
    position: relative;
    padding: 100px 0;
    background: linear-gradient( rgba(77, 76, 76, 0.55), rgba(24, 23, 23, 0.98) ), url(../img/istockphoto-1468140092-1024x1024.jpg) no-repeat top center ;
}

.call-to-action .container {
    max-width: 700px;
}

.call-to-action .section-header h4 {
    color: #ffffff;
}

.call-to-action .section-header h2::after {
    background: #111111;
}

.call-to-action .section-header p {
    color: #ffffff;
}

.call-to-action .btn {
    padding: 15px 30px;
    color: #FF6F61;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ffffff;
}

.call-to-action .btn:hover {
    color: #FF6F61;
    background: #111111;
}

.call-to-action .btn i {
    margin-right: 5px;
}
.contet-end{
    height: 400px;
    padding-top: 50px;
    background-image: url(../img/DSC09612.jpg);
    background-size: cover;
text-align:center;
position: relative;
}
.contact-ud{
    position: absolute;
    color:#FE5D37;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.3);
}
.contet-end i{
    width: 40px;
    padding: 10px;
border-radius: 5px;
color: #080808;
border: 2px solid #ff9085;
}

.footer {
    padding-top: 20px;
    position: relative;
    text-align: center;
    color: #fff; 
    background-color: #FF6F61;

}

.footer .footer-top {
    padding: 60px 0;
    border-bottom: 1px solid #ff9085;
}

.footer .footer-top h2 {
    position: relative;
    color: #ffffff;
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.footer .footer-top h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 1px;
    left: 0;
    bottom: 0;
    background: #ff9085;
}

.footer .contact-info h4 {
    color: #000000;
    font-size: 18px;
    margin-bottom: 0;
}

.footer .contact-info p {
    color: #ffffff;
    font-size: 16px;
}

.footer .contact-info p:last-child {
    margin-bottom: 0;
}

.footer .social-links a {
    display: inline-block;
    width: 45px;
    height: 45px;
    font-size: 22px;
    line-height: 1;
    padding: 11px 0;
    margin-right: 4px;
    text-align: center;
    background: #ffffff;
    color: #FF6F61;
    border-radius: 4px;
    transition: 0.3s;
}

.footer .social-links a:hover {
    background: #111111;
    color: #FF6F61;
}




@media (max-width: 768px) {
    .footer .contact-info,
    .footer .social-links {
        margin-bottom: 30px;
    }
    
    .footer .copyright,
    .footer .credit {
        text-align: center;
    }
}
.far.fa-star {
    color: #e9a718; /* لون النجمة الفارغة */
}
.team {
    position: relative;
    padding: 100px 0 70px 0;
}
.team p {
    position: relative;
    font-size: 18px;
    line-height: 2;
    display: flex;
    justify-content: space-between;
}
.team-img{
    position: relative;
}
.team-img:hover .team-img{
    transform: scale(1.6);
    
}

.team-contact{
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color:rgba(0, 0, 0, .4);
}
.team .btn {
    position: absolute;
    bottom:50px ;
    right: 10px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 100;
}
.team .team-item {
    margin-bottom: 30px;
    overflow: hidden;
}

.team .team-item .team-img {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    
}



.team .team-item .team-link a {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 2px -100px 2px;
    padding: 6px 0;
    text-align: center;
    font-size: 16px;
    color: #FF6F61;
    background: #ffffff;
    border-radius: 4px;
}

.team .team-item:hover .team-link {
    opacity: 1;
}

.team .team-item:hover .team-link a {
    margin: 0 2px;
}

.team .team-item .team-link a:hover {
    color: #ffffff;
    background: #111111;
}

.team .team-item .team-info {
    position: relative;
    width: 100%;
    padding-top: 15px;
}

.team .team-item .team-info h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.team .team-item .team-info p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}
.footer .footer-top h2 {
    position: relative;
    color: #ffffff;
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}






